
.NavbarItems{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 80px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.25);
    position:fixed;
    z-index: 9999; /* for the navbar to always be on the top */
    
}

.nav-menu{
    display:grid;
    grid-template-columns: repeat(8,auto);
    grid-gap: 25px;
    list-style: none;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    color: #222;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.7rem 1 rem;
}

.nav-links i{
    padding-right: 10px;
}

.nav-links:hover{
    background-color: #01959a;
    color: #fff;
    border-radius: 4px;
    padding:4px;
}

.nav-links-mobile{
    display: none;
}

button{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #151516;
    color: #fff;
}



